.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  height: 64px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;
  background-color: #0d1117;
  border-bottom: 1px solid #21262d;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.brand {
  font-size: 18px;
  font-weight: 600;
  color: #e6edf3;
}

/* RIGHT */
.nav-right {
  display: flex;
  gap: 24px;
}

.nav-right a {
  color: #e6edf3;
  font-weight: 500;
}

.nav-right a:hover {
  color: #58a6ff;
}
