:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif;
  color: #e6edf3;
  background-color: #0d1117;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  width:100%;
  background-color: #0d1117;
}

/* links */
a {
  color: #58a6ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
